@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADER */

.header {
  height: 74px;
  background-color: #222;
}

.header img {
  height: max-content;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__left,
.header__right {
  box-sizing: border-box;
  display: flex;
  height: max-content;
  align-items: flex-end;
  justify-content: space-between;
}

.header__left {
  width: 111px;
  margin-left: 16px;
}

.header__right {
  margin-right: 24px;
}

.header__user {
  display: none;
}

.header__cart {
  position: relative;
  display: none;
}

.header__cart-count {
  position: absolute;
  text-align: center;
  background-color: #F16D7F;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 19px;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  left: 23px;
  top: -7px;
}

/* BRAND */

.brand {
  display: flex;
  max-height: 765px;
}

.brand__left {
  display: none;
  position: relative;
}

.brand__left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 103, 105, 0.08);

}

.brand__foto {
  width: 100%;
  max-width: 800px;
}

.brand__right {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 363px;
  background: #F1E4E6;
  align-items: center;
}

.brand__heading {
  border-left: #F16D7F 12px solid;
  font-size: 20px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 16px;
}

.brand__brand {
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
}

.brand__fashion {
  color: #F16D7F;
}

/* MENU */
.nav-wrap {
  display: flex;
  justify-content: end;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  z-index: 100;
}

.menu {
  height: 765px;
  width: 232px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 34px;
  box-sizing: border-box;
}

.menu__button-close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu__h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.menu ul {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.menu__lists {
  padding-left: 0;
}

.menu__lists ul {
  padding-left: 22px;
}

.menu__lists li {
  padding: 9px 0px;
}

.menu__lists a {
  text-decoration: none;
  color: #6F6E6E;
}

.menu__lists span {
  text-transform: uppercase;
  color: #F16D7F;
}

/* MEDIA */

@media screen and (min-width: 768px) {
  .header__right {
    width: 169px;
  }

  .header__cart,
  .header__user {
    display: block;
  }

  .brand__left {
    display: flex;
    justify-content: end;
    width: 50%;
  }

  .brand__right {
    width: 50%;
    min-height: 200px;
    justify-content: left;
  }

  .brand__heading {
    margin-left: 64px;
    font-size: 24px;
    line-height: 29px;
  }

  .brand__brand {
    font-size: 44px;
    line-height: 53px;
  }
}

@media screen and (min-width: 1200px) {
  .brand__heading {
    margin-left: 64px;
    font-size: 32px;
    line-height: 38px;
  }

  .brand__brand {
    font-size: 48px;
    line-height: 58px;
  }
}