@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

/* HEADER */

.header {
  height: 74px;
  background-color: #222;
}

.header img {
  height: max-content;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__left,
.header__right {
  box-sizing: border-box;
  display: flex;
  height: max-content;
  align-items: flex-end;
  justify-content: space-between;
}

.header__left {
  width: 111px;
}

.header__user {
  display: none;
}

.header__cart {
  position: relative;
  display: none;
}

.header__cart-count {
  position: absolute;
  text-align: center;
  background-color: #F16D7F;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 19px;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  left: 23px;
  top: -7px;
}

/* BRAND */

.brand {
  display: flex;
  max-height: 765px;
}

.brand__left {
  display: none;
  position: relative;
}

.brand__left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 103, 105, 0.08);

}

.brand__foto {
  width: 100%;
  max-width: 800px;
}

.brand__right {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 363px;
  background: #F1E4E6;
  align-items: center;
}

.brand__heading {
  border-left: #F16D7F 12px solid;
  font-size: 20px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 16px;
}

.brand__brand {
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
}

.brand__fashion {
  color: #F16D7F;
}

/* MENU */
.nav-wrap {
  display: none;
  /* display: flex; */
  justify-content: end;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  z-index: 100;
}

.menu {
  height: 765px;
  width: 232px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 34px;
  box-sizing: border-box;
}

.menu__button-close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu__h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.menu ul {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.menu__lists {
  padding-left: 0;
}

.menu__lists ul {
  padding-left: 22px;
}

.menu__lists li {
  padding: 9px 0px;
}

.menu__lists a {
  text-decoration: none;
  color: #6F6E6E;
}

.menu__lists span {
  text-transform: uppercase;
  color: #F16D7F;
}

/* OFFER */

.offer {
  display: grid;
  grid-template: 80vw 80vw 80vw 33vw/ 100%;
  grid-gap: 32px;
  padding: 15px 0;
  color: #fff;
  margin-top: 49px;
}

.offer h3 {
  text-align: center;
  margin: 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
}

.offer h3 strong {
  color: #F16D7F;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.offer section {
  background-size: cover;
  position: relative;
}

.offer__wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.offer__women {
  background: url(/images/background/women.jpg) no-repeat center;
}

.offer__men {
  background: url(/images/background/men.jpg) no-repeat center;
}

.offer__kids {
  background: url(/images/background/kids.jpg) no-repeat center;
}

.offer__accesories {
  background: url(/images/background/accesories.jpg) no-repeat center;
}

/* FEATURED ITEMS */
figure {
  margin: 0;
}

.featured-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 97px;
}

.featured-items__head {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #222;
  margin-bottom: 6px;
}

.featured-items__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.featured-items__cards {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 48px -15px 33px;
  justify-content: center;
}

.featured-items__product-card {
  height: 581px;
  width: 360px;
  margin: 15px;
  background-color: #F8F8F8;
}

.featured-items__product-card figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featured-items__top {
  position: relative;
  height: 420px;
}

.featured-items__cart {
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.featured-items__cart:hover {
  opacity: 1;
}

.featured-items__cart-button {
  width: 139px;
  height: 44px;
  border: 2px solid #fff;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.featured-items__cart-button img {
  margin-right: 10px;
  width: 26px;
  height: 24px;
}

.featured-items__info {
  padding: 23px 16px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.featured-items__info-header {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.featured-items__info-description {
  color: #5D5D5D;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.featured-items__info-price {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.featured-items__button {
  width: 212px;
  height: 48px;
  color: #F26376;
  background-color: #fff;
  border: 1px solid #F26376;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 95px;
  cursor: pointer;
}

/* SERVISES */

.servises {
  background-color: #222224;
  ;
}

.servises__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 40px;
}

.servises__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 24px 15px;
  width: 360px;
  height: 134px;
}

.servises__icon-car {
  height: 32px;
}

.servises__icon-sales {
  height: 40px;
}

.servises__icon-crown {
  height: 35px;
}

.servises__item-header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
  margin-bottom: 16px;
  cursor: default;
}

.servises__item-description {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  cursor: default;
}

/* FOOTER */

.footer__top {
  width: 100%;
  background: url(/images/background/subscribe.jpg) no-repeat;
  background-size: cover;
  background-position: 27% 50%;
}

.footer__top-backlight {
  padding: 64px 0 110px;
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__top-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__recall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin: 64px 0 59px;
}

.footer__recall-photo {
  width: 96px;
  margin-bottom: 30px;
}

.footer__recall-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  cursor: default;
}

.footer__subscribe-form {
  display: flex;
}

.footer__subscribe-header {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #222224;
  margin-bottom: 30px;
  line-height: 30px;
  cursor: default;
}

.footer__subscribe-header strong {
  line-height: 40px;
  font-weight: 700;
  font-size: 24px;
}

.footer__form-email {
  border: none;
  flex-grow: 1;
  background-color: #E1E1E1;
  height: 49px;
  border-radius: 24px 0 0 24px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

.footer__form-submit {
  border: none;
  background-color: #F16D7F;
  height: 49px;
  width: 100px;
  border-radius: 0 24px 24px 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__bottem {
  background-color: #222224;
}

.footer__bottem-wrap {
  height: 143px;
  padding: 43px 0 9px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.footer__copy {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  cursor: default;
}

.footer__social-networks {
  list-style: none;
  display: flex;
}

.footer__social-networks a {
  background-color: #fff;
  color: #000;
  width: 32px;
  height: 32px;
  display: flex;
  margin-left: 7px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.footer__social-networks a:hover {
  color: #fff;
  background-color: #F16D7F;
}

/* CATALOG */
/* NEW ARRIVALS */
.new-arrivals {
  background: #F8F3F4;
}

.new-arrivals__breadcrumb {
  display: inline;
}

.new-arrivals__container {
  display: flex;
  justify-content: space-between;
  height: 148px;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 0 46px;
}

.new-arrivals__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.new-arrivals__breadcrumb {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.new-arrivals__link {
  text-decoration: none;
  color: #636363;
}

.new-arrivals__link_last {
  color: #F16D7F;
  font-weight: 700;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  max-width: 690px;
}

.filter__text {
  display: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;

  text-transform: uppercase;
  margin-right: 5px;
}

.filter__icon {
  height: 25px;
  width: 38px;
}

.filter__button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
}

.filter__dropdowns {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.filter__dropdowns li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6F6E6E;
  margin-left: 28px;
  display: flex;
}

.filter__dropdowns li::after {
  content: url(/images/icons/arrow-down.svg);
  display: block;
  margin-left: 10px;
}

.pagination {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  align-items: center;
  margin-bottom: 96px;
}

.pagination__button-left,
.pagination__button-right {
  padding: 0;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  height: 44px;
  width: 40px;
  cursor: pointer;
}

.pagination__pages-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  margin-left: 20px;
  cursor: pointer;
}

.pagination__pages-number_active {
  color: #EF5B70;
}

.pagination__pages-number:first-of-type {
  margin-left: 0;
}

.pagination__pages-number_points {
  margin-left: 0;
}

.pagination__pages-number_points::before {
  content: ".....";
}

.slider {
  position: relative;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 65px;
  border: 1px solid #EAEAEA;
}

.slider__foto {
  height: 724px;
}

.slider__button-left,
.slider__button-right {
  position: absolute;
  background-color: #ccc;
  padding: 0;
  border: none;
  height: 47px;
  width: 47px;
  cursor: pointer;
}
.slider__button-left{
  left: 0;
}
.slider__button-right{
  right: 0;
}
.slider__button-right i{
  color: #F16D7F;
}
.product-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -65px;
  border: 1px solid #EAEAEA;
  background-color: #fff;
  padding-top: 56px;
  padding-bottom: 56px;
}
.product-info__collection{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #F16D7F;
  cursor: default;
}
.product-info__collection::after{
  content: "";
  display: block;
  width: 63px;
  border-top: 3px solid #F16D7F;
  margin: 0 auto;
}
.product-info__name{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 52px;
  text-transform: uppercase;
  color: #4D4D4D;
  cursor: default;
}
.product-info__description{
  margin-top: 40px;
  max-width: 553px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  cursor: default;
}
.product-info__price{
  display: flex;
  justify-content: center;
  margin-top: 32px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  cursor: default;
  padding-bottom: 64px;
  width: 175px;
  border-bottom: 1px solid #EAEAEA;
}
.product-info__settings{
  display: flex;
  justify-content: center;
  padding: 64px 0 48px;
  width: 100%;
  list-style: none;
}

.product-info__settings-item{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #6F6E6E;
  padding: 0 12px;
  cursor: pointer;
}
.product-info__settings-item i{
  margin-left: 9px;
}
.product-info__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 48px;
  border: 1px solid #FF6A6A;
  color: #FF6A6A;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  cursor: pointer;
}
.product-info__icon-cart{
  margin-right: 22px;
}
.featured-items__product-card_display{
  display: none;
}
.product-page .featured-items{
  margin-top: 0;
}
.product-page .featured-items__cards{
  margin-top: 0;
}
/* MEDIA */

@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__right {
    width: 169px;
  }

  .header__cart,
  .header__user {
    display: block;
  }

  .brand__left {
    display: flex;
    justify-content: end;
    width: 50%;
  }

  .brand__right {
    width: 50%;
    min-height: 200px;
    justify-content: left;
  }

  .brand__heading {
    margin-left: 64px;
    font-size: 24px;
    line-height: 29px;
  }

  .brand__brand {
    font-size: 44px;
    line-height: 53px;
  }

  .offer {
    grid-template: 21.7vw 15vw / 1fr 1fr 1fr;
  }

  .offer__accesories {
    grid-column: 1 / -1;
  }

  .servises__list {
    flex-direction: row;
    padding: 0;
  }

  .servises__item {
    margin: 103px 15px;
  }

  .footer__top-backlight {
    padding: 0;
    height: 448px;
  }

  .footer__top-wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__recall {
    margin: 0;
  }

  .footer__subscribe-header {
    font-size: 18px;
  }

  .footer__bottem-wrap {
    flex-direction: row;
    height: 79px;
    padding: 0;
  }

  .new-arrivals__container {
    flex-direction: row;
  }

  .filter__text {
    display: inline;
  }

  .filter__icon {
    height: 10px;
    width: 15px;
  }

  .filter__dropdowns li {
    font-size: 14px;
    line-height: 17px;
  }
  .product-info__settings-item{
    font-size: 14px;
    line-height: 17px;
  }
  .product-info__price{
    width: 642px;
  }
}

@media screen and (min-width: 1200px) {
  .brand__heading {
    margin-left: 64px;
    font-size: 32px;
    line-height: 38px;
  }

  .brand__brand {
    font-size: 48px;
    line-height: 58px;
  }

  .offer {
    grid-template: 260px 180px / 1fr 1fr 1fr;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .featured-items__product-card_display{
    display: block;
  }
}